::root {
  --dark-color: rgb(59, 59, 59);
  --alt-color: rgb(46, 138, 87);  
}

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color:  rgb(59, 59, 59);
  font-family: sans-serif;
}

body {
  margin: 10px 20px 20px;
}

a {
  color: rgb(46, 138, 87);
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  border-bottom: 3px solid rgb(78, 78, 78);
}

header img {
  border: none;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: left;
}

.title {
  margin-left: 1em;
}

.nav {
  width: 50%;
  display: flex;
  align-items: stretch;
  flex: 0 1 auto;
  justify-content: space-between;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  justify-content: right;
}

li {
  margin: 0 5%;
  text-transform: uppercase;
}

.header a {
  display: block;
}

.feature-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 10px;
  line-height: 0;
}

.feature-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(85% - 220px);
  margin: 0 10px;
}

.feature-desc h3 {
  font-size: 1.8em;
}

.feature-desc p {
  font-size: 1.3em;
}


#features ol {
  list-style-type: none;
}

#features img {
  object-fit: cover;
  border: 5px solid black;
  background: black;
}