:root {
  --dark-color: rgb(59, 59, 59);
  --alt-color: rgb(46, 138, 87);
}

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color:  rgb(59, 59, 59);
  font-family: "Open Sans", sans-serif;
}

a {
  color: rgb(46, 138, 87);
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  border-bottom: 3px solid rgb(78, 78, 78);
}

h1, h2, h3 {
  font-family: Montserrat, sans-serif;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

.subtitle {
  margin-bottom: 20px;
}

header {
  width: 98%;
  margin: 15px auto;
  text-transform: uppercase;
}

header img {
  border: none;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: left;
}

.title {
  margin-left: 1em;
}

.nav {
  width: 50%;
  display: flex;
  justify-content: space-between;
  font-size: 1.3em;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  justify-content: right;
}

li {
  margin: 0 5%;
  display: block;
}

.features, .waitlist {
  width: 100%;
  background-color: rgb(46, 138, 87);
  color: whitesmoke;
}

.features, .waitlist, .demo {
  width: 100%;
  padding: 2.5% 5%;
}

.feature-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 10px;
  line-height: 0;
}

.feature-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(85% - 220px);
  margin: 0 10px;
}

.feature-desc h3 {
  font-size: 1.8em;
  color: rgb(192, 228, 208);
}

.feature-desc p {
  font-size: 1.1em;
  margin: 5px 0 0 2px;
}

#features ol {
  list-style-type: none;
}

#features img {
  object-fit: cover;
  background-color: whitesmoke;
  border: 5px solid whitesmoke;
}

.form {
  text-align: center;
}

input {
  font-size: 1.3em;
  padding: 10px;
  background-color: whitesmoke;
  border: none;
  margin: 2px;
}

#email {
  width: 350px;
}

#submit {
  background-color: rgb(121, 175, 145);
  padding: 10px 15px;
  border: none;
}

.waitlist {
  padding-bottom: 50px;
}

/* @MEDIA STYLING */

@media only screen and (max-width: 780px) {

  .header-container {
    display: unset;
  }
  
  .header {
    width: 100%;
  }

  .logo {
    margin-left: 15px;
  }

  .nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 20px 0 5px;
  }

  ul {
    margin: 0 auto;
    padding: 0;
    justify-content: center;
  }

  .feature-img {
    display: none;
  }

  .feature-desc {
    width: 90%;
    margin: 10px auto 20px;
  }

  iframe {
    width: 364px;
    height: 205px;
    margin: 0 auto 20px;
    display: block;
  }

  #email {
    margin-bottom: 10px;
  }

}